# ==============================================================================
# Python & Virtual Environments
# ==============================================================================
__pycache__/
*.py[cod]
.Python
env/
venv/
.pixi/

# ==============================================================================
# IDE & System Files
# ==============================================================================
# VSCode
.vscode/
# macOS
.DS_Store
# Windows
Thumbs.db

# ==============================================================================
# Project Specific
# ==============================================================================
/data/output/
.streamlit/

# ==============================================================================
# Logs and Temporary Files
# ==============================================================================
*.log
*.tmp
*.swp